Source: dev-meta
Priority: optional
Section: metapackages
Maintainer: Dimitry Ishenko <dimitry.ishenko@gmail.com>
Build-Depends:
 debhelper-compat (= 13),
Standards-Version: 4.6.2
Rules-Requires-Root: no

Package: dev-meta
Architecture: all
Depends:
 bison,
 build-essential,
 clang,
 clangd,
 cmake,
 debchange,
 debian-archive-keyring,
 debootstrap,
 decopy,
 dh-make,
 dpkg-dev,
 dput-ng,
 eatmydata,
 flex,
 gdb,
 git,
 gitsigns-nvim,
 libelf-dev,
 libncurses-dev,
 manpages-dev,
 manpages-posix,
 pristine-tar,
 pbuilder,
 python3-pip,
 statuscol-nvim,
 vim-fugitive
Recommends:
 devdocs,
 devdocs-data-bash,
 devdocs-data-c,
 devdocs-data-c++,
 devdocs-data-cmake,
 devdocs-data-g++,
 devdocs-data-gcc,
 devdocs-data-git,
 devdocs-data-make,
 devdocs-data-man,
 devdocs-data-opengl,
 devdocs-data-python,
 devdocs-data-qt
Description: dev-meta
 Development tools
